{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
      
<br>
  
<form method="POST" action="/searchCustomer">
    <div><label>Find a Customer by name: <input type="text" name="Name"></label></div>
    </label></div>
    <input type="submit" value="Submit">
    <button type="reset">Reset</button>
    
</form>
<br><br>

        {% for text in userCustomer %}
        
        <li> <b>Id: </b>{{ text[0] }} 
      ,<b>Name: </b>{{ text[1] }} 
      ,<b>City: </b>{{ text[2] }} 
       ,<b> Age: </b>{{ text[3] }}
      </li><br><br>
        {% endfor %}


{% endblock %}

