{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
      
<br>

{% for text in allLateLoans %}
<b>Custer Name:</b> {{ text[0] }} 
,<b>Book Name:</b> {{ text[1] }}
,<b>Loan Date:</b>  {{ text[2] }}
,<b>Return Date:</b>  {{ text[3] }}
,<b>Late day:</b> 

</li><br><br> 

{% endfor %}
<!-- {{ lateDays }}  -->
{% endblock %}
