{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
      
<br>
 
<form method="POST">
        
    <div><label>Issued Books: <select name="BookID" id="BookID" ><option disabled selected value>-- select a book to return it -- </option>
      {% for text in issuedBooks%} 
        <option value="{{text[0]}}">  <li>{{text[1]}}</li> </option> {% endfor %}
    
        <optgroup label="No issued books" > </optgroup>
    </select></label></div> 
<br>
    <button type="submit">Return book</button>
    <button type="reset">Reset</button>
   
   
  </form>
  
    <div style="text-align: center; font-size: medium;" > {{msg}} </div>
<!--  
     <button onclick="myFunction()">Return book</button>
 <script>
  function myFunction() {
    alert("Book has been returned!");
  }
  </script> -->

{% endblock %}

