{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
      
<br>
<form method="POST">
    <div><label>Delete a customer :<select name="Id" id="Id" required> <option disabled selected value> select a customer </option>
      {% for text in allCustomers%} 
        <option value="{{text[0]}}">  <li>{{text[1]}}</li> </option> {% endfor %}
    <br>
     </select></label></div>  
      <!-- <input type="text" name="Id" required></label></div>
    </label></div> -->
    <br>
    <button type="submit">Delete Customer</button>
    <button type="reset">Reset</button>
   
  </form>
  
    <div style="text-align: center; font-size: medium;" > {{msg}} </div>


 <!-- <button onclick="myFunction()">delete Customer</button>
<script>
function myFunction() {
  alert("Customer has been deleted!");
}
</script> -->
{% endblock %}

