{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
      
<br>
<form method="POST">
    <div><label>delete a book: <select name="Id" id="Id" required> <option disabled selected value> select a book </option>
      {% for text in allBooks%} 
        <option value="{{text[0]}}">  <li>{{text[1]}}</li> </option> {% endfor %}
    <br>
     </select></label></div> 
      <!-- <input type="text" name="Id" required></label></div> -->
    </label></div>
   <br>
    <button type="submit">Delete book</button>
    <button type="reset">Reset</button>
   
  </form>
  <!-- <button onclick="myFunction()">Add Book</button>
  <script>

    function myFunction() {
      alert("Book has been added!");
    }
    </script> -->
    <div style="text-align: center; font-size: medium;" > {{msg}} </div>
  
{% endblock %}

